<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <div class="cent">
    <a class="navbar-brand" routerLink="/login-chat">COMPS</a>
  </div>
  <div *ngIf="isLoggedIn$ | async">
    <button mat-icon-button [matMenuTriggerFor]="menu" style="color: white">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>Account</span>
      </button>
      <button mat-menu-item (click)="logOut()">
        <mat-icon>login</mat-icon>
        <span>Log Out</span>
      </button>
    </mat-menu>
  </div>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <!-- <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin">Admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login-chat">Chat</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin-monitor">Admin Monitor</a>
      </li>

    </ul>
  </div> -->
</nav>
